.monAnContainer {
  padding: 40px 20px;
  background-color: #f8f7f2;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.monAnContainer h2 {
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
  color: #B17F59;
  margin-bottom: 50px;
  
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.monAnContainer h2::after {
  content: "";
  width: 500px;
  height: 2px;
  background-color: #b8860b;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.item {
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}


.itemImage {
  width: 500px;
  height: 250px;
  object-fit: cover;
  
}

.item p {
  margin: 10px 0;
  font-size: 1rem;
  color: #000000;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: 40px;
}

